class {
  onCreate() {
    this.state = { count: 0 };
  }

  decrement() {
    this.state.count -= 1;
  }

  increment() {
    this.state.count += 1;
  }
}

<div class='bg-red-300 mx-auto my-4 px-8 py-2 rounded-full w-max text-2xl'>
  <button on-click('decrement')>-</button>
  <span class='mx-5'>${state.count}</span>
  <button on-click('increment')>+</button>
</div>
